<h1><%= @team[:team][:name] %></h1><br>
<%= "Country: #{@team[:team][:country]}" %><br>
<%= "Founded: #{@team[:team][:founded]}" %><br>
<%= "Venue: #{@team[:venue][:name]}" %><br>
<%= "Capacity: #{@team[:venue][:capacity]}" %><br>
<%= "Surface: #{@team[:venue][:surface]}" %><br>
<%= image_tag "#{@team[:venue][:image]}" %><br>